*{
    margin: 0;
    padding: 0;
    font-family: 'Pangolin', cursive;
}

/********************HOME PANEL*********************************/
.header{
    height: 10%;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.9)), url(./images/init_portal.jpg);
    background-position: center;
    background-size: cover; 
    position: relative;
    z-index: 1;
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

nav img{
    width: 10%;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #030303;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

/********************HOME INTRODUCTION*********************************/

.home-introduction {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right,rgba(199, 194, 194, 0.6), rgba(255, 255, 255, 1)) ,url(./images/background.png);
    background-position: left;
    background-size: cover;
    padding-left: 1%;
  }
  
  .text {
    flex: 1;
    text-align: left;
  }
  
  .text h1 {
    font-size: 70px;
    padding-bottom: 10%;
  }
  
  .text p {
    font-size: 50px;
  }

 /********************HOME MISSION*********************************/ 
.home-mission{
    background-image: linear-gradient(to right,rgba(199, 194, 194, 0.6), rgba(255, 255, 255, 1)) ,url(./images/background.png);
    background-position: left;
    background-size: cover;
    padding-left: 1%;
}
.home-mission h1 {
    font-size: 50px;
    padding-bottom: 1%;
  }
  
.home-mission p {
    font-size: 30px;
    padding-bottom: 1%;
  }

/********************HOME About*********************************/ 
  
.home-about_services{
    background-image: linear-gradient(to right,rgba(199, 194, 194, 0.6), rgba(255, 255, 255, 1)) ,url(./images/background.png);
    background-position: left;
    background-size: cover;
    display: flex;
}

.about {
    flex: 5;
    padding: 20px;
  }
  .about h1{
    font-size: 50px;
  }
  .about p{
    font-size: 30px;
    padding-bottom: 5%;
  }
  
  .services {
    flex: 5;
    padding: 20px;
  }
  .services h1{
    font-size: 50px;
  }
  .services ul{
    font-size: 30px;
  }
  .services ul li{
    padding-bottom: 5%;
  }


/**************AFFILIATIONS*************************/
.home-affiliations{
    background-image: linear-gradient(to right,rgba(199, 194, 194, 0.6), rgba(255, 255, 255, 1)) ,url(./images/background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.home-affiliations h1{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.collaboration-suppporters{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.collab-column{
    flex-basis: 31%;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5;
}
.collab-column img {
    display: block;
    padding-top: 3%;
    margin: 0 auto; /* Horizontally center the image */
  }
h3{
    text-align:center;
    font-weight: 600;
    margin: 10px 0;
    font-size: 40px;
}
p{
    font-size: 20px;
}
.collab-column:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.collab-column a:hover {
    background-color: #f44336;
    transition: background-color 0.5s ease;
    padding-top: 10px;
    cursor: pointer;
  }


/**************FOOTER*************************/

.footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(255, 255, 255, 0.9)), url(./images/init_portal.jpg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer nav {
    margin-bottom: 10px;
  }
  .nav-links{
    display: flex;
    justify-content: center;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .footer ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  
  .footer ul li a {
    text-decoration: none;
    color: #fffefe;
  }
  
  .footer p {
    margin-top: 5px;
    display: flex;
  }

  .social-media-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px; /* Add some space between the footer content and the social media icons */
  }
  
  .social-media-icons a i {
    width: 30px;
    height: 30px;
    /* Add additional styles as needed */
  }

/************************TERMS CONDITIONS**********************************************/
.terms-conditions{
  background-image: linear-gradient(to right,rgba(199, 194, 194, 0.6), rgba(255, 255, 255, 1)) ,url(./images/background.png);
  background-position: left;
  background-size: cover;
  padding-top: 10%;
}

.terms-conditions h1{
  font-size: 70px;
  padding-left: 10%;
}

.terms-conditions h2{
  font-size: 40px;
  padding-left: 10%;
}

.terms-conditions p{
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 5%;
  padding-left: 5%;
}

/************************FAQs**********************************************/
.FAQs{
  background-image: linear-gradient(to right,rgba(199, 194, 194, 0.6), rgba(255, 255, 255, 1)) ,url(./images/background.png);
  background-position: left;
  background-size: cover;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.FAQs h1{
  font-size: 70px;
  padding-left: 10%;
}

.FAQs h2{
  font-size: 40px;
  padding-left: 10%;
}

.FAQs p{
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 5%;
  padding-left: 5%;
}

.FAQs a{
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 5%;
  padding-left: 5%;
}


/************************SUPPORT**********************************************/
.donation{
  background-image: linear-gradient(to right,rgba(199, 194, 194, 0.6), rgba(255, 255, 255, 1)) ,url(../images/background.png);
  background-position: left;
  background-size: cover;
  padding-top: 10%;
}

.donation text-box-donation {
  text-align: left; /* Align the text content to the left */
}

.donation .text-box-donation h1{
  font-size: 70px;
}

.donation .text-box-donation p, .text-box-donation ol{
  color:  rgb(0, 0, 0); 
  font-size: 30px; 
  padding-left: 20px;
  padding: 1%;
}

/************************CONTACT**********************************************/

.contact{
  background-image: linear-gradient(to right,rgba(199, 194, 194, 0.6), rgba(255, 255, 255, 1)) ,url(../images/background.png);
  background-position: left;
  background-size: cover;
  padding-top: 10%;
  padding-left: 5%;
}

.contact h1{
  font-size: 70px;
}

.contact p, .contact ol{
  color:  rgb(0, 0, 0); 
  font-size: 30px; 
  padding-left: 20px;
  padding: 1%;
}
.contact ol li a{
  color: blue;
}

/********************RESOURCES GRID****************************/
/* New CSS for Blog Grid */
.resources-main-panel {
  display: grid;
  background-color: #919191;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 50px;
  justify-items: center;
}

.resources-card {
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resources-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.resources-card h3 {
  font-size: 18px;
  margin: 10px 0;
  color: rgb(255, 255, 255);
}

.resources-card p {
  font-size: 14px;
  color: white;
}

.resources-card a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.resources-card a:hover {
  color: #f44336;
}


/********************************RESOURCES HAPLOGROUP*****************************************/
/********************************RESOURCES HAPLOGROUP MAIN*****************************************/


.resources-haplogroups-main{
  background-color: #919191;
  background-position: left;
  background-size: cover;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 2%;
}

.resources-haplogroups-main h1 {
  font-size: 50px;
  padding-bottom: 5%;
}

.resources-haplogroups-main p {
  font-size: 20px;
}

/********************************RESOURCES HAPLOGROUP COUNTRY*****************************************/
.haplogr-table{
  background-color: #919191;
  background-position: left;
  background-size: cover;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 5%;
}


.haplogr-table table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  position: center;
  font-style: normal;
  font-size: 20px;
}

.haplogr-table tr {
  color: #030303;
}

.haplogr-table table{
  border: 1px solid;
  border-collapse: collapse;
  position: center;
  font-style: normal;
  color: hsl(0, 0%, 99%);
  margin-left:auto; 
  margin-right:auto;
  padding-top: 5%;
  
}


.haplogr-table h1{
  font-size: 50px;
  padding-left: 10%;
}

.haplogr-table p{
  color:  rgb(0, 0, 0); 
  font-size: 20px; 
  padding-left: 20px;
  padding-bottom: 0.5%;
}

.number-lines p{
  color: #e1f436;
  padding-left: 40%;
}