*{
    margin: 0;
    padding: 0;
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7)), url(./images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #030303;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.text-box h1{
    font-size: 62px;
    color: #ffee00;
}

.text-box h2{
    font-size: 40px;
    color: #ffee00;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box h2{
        font-size: 15px;
        color: #df4d14;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.text-box-scroll{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow-y: scroll;
    height:300px;
}
.text-box-scroll h1{
    font-size: 62px;
    color: #000000;
}

.text-box-scroll h2{
    font-size: 40px;
    color: #000000;
}

.text-box-scroll p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}

.text-box-scroll table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    position: center;
    font-style: normal;
}

.text-box-scroll tr {
    color: #030303;
}

.text-box-scroll table{
    border: 1px solid;
    border-collapse: collapse;
    position: center;
    font-style: normal;
    color: hsl(0, 0%, 99%);
    margin-left:auto; 
    margin-right:auto;
}

.statistics {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7)), url(./images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.how2help {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7)), url(./About/images/background02.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.how2contact {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7)), url(./About/images/background02.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* ------------------ course  ----------------*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #0011fa;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

.supporting{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.supporting-col {
    flex: 50%;
    padding: 5px;
}

.supporting img {
    float: left;
    padding-bottom:0.5em;
}  

.supporting img figcaption{
    background: transparent;
    color: black;
    text-align: center;
    padding: 2px;
    display: block;
}

