*{
    margin: 0;
    padding: 0;
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(92, 92, 92, 0.9)), url(./images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-blog-content{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(92, 92, 92, 0.9)), url(./images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #030303;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.text-box h1{
    font-size: 62px;
    color: #ffee00;
}

.text-box h2{
    font-size: 40px;
    color: #ffee00;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}


.text-box-scroll ul{
    list-style-type: upper-roman;
    list-style-position: inside;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
#bigger { 
    font-size: 20px;
    color: #000000; 
    font-weight: bold;
}

#bigger-color { 
    font-size: 20px;
    color: #fa0000; 
    font-weight: bold;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box h2{
        font-size: 15px;
        color: #df4d14;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.text-box-scroll{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow-y: scroll;
    height:300px;
}
.text-box-scroll h1{
    font-size: 62px;
    color: #000000;
}

.text-box-scroll a{
    color: #000000;
    font-size: large;
}

.text-box-scroll h2{
    font-size: 40px;
    color: #000000;
}

.text-box-scroll p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}

.text-box-scroll table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    position: center;
    font-style: normal;
}

.text-box-scroll tr {
    color: #030303;
}

.text-box-scroll table{
    border: 1px solid;
    border-collapse: collapse;
    position: center;
    font-style: normal;
    color: hsl(0, 0%, 99%);
    margin-left:auto; 
    margin-right:auto;
}

.statistics {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7)), url(./images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.how2help {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7)), url(./About/images/background02.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.how2contact {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7)), url(./About/images/background02.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* ------------------ course  ----------------*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #0011fa;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

.supporting{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.supporting-col {
    flex: 50%;
    padding: 5px;
}

.supporting img {
    float: left;
    padding-bottom:0.5em;
}  

.supporting img figcaption{
    background: transparent;
    color: black;
    text-align: center;
    padding: 2px;
    display: block;
}

.whoarewe {
    font-size: 24px;
    color: yellow;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7)), url(./About/images/background02.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .whoarewe h2{
    font-size: 24px;
    color: yellow;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7)), url(./About/images/background02.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
/* New CSS for Welcome Header */
.welcome-header {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.welcome-header h1 {
    font-size: 70px;
    font-weight: bold;
    color:black;
}

/* New CSS for Blog Grid */
.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 50px;
    justify-items: center;
}

.blog-card {
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.blog-card h3 {
    font-size: 18px;
    margin: 10px 0;
    color: yellow;
}

.blog-card p {
    font-size: 14px;
    color: white;
}

.blog-card a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

.blog-card a:hover {
    color: #f44336;
}

.blog-title {
    text-align: center;
    margin-top: 50px;
  }
  
  .blog-title h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .blog-title h4 {
    font-size: 14px;
    margin-bottom: 5px;
  }


  .blog-content {
    margin-top: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .blog-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .blog-content p {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.5;
    color: black;
  }
  
  .blog-content ul {
    margin-bottom: 15px;
    padding-left: 20px;
  }
  
  .blog-content ol {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }
  
  .blog-content li {
    margin-bottom: 16px;
    padding-left: 20px;
    text-indent: -20px;
    list-style-type: disc;
    margin-left: 30px;
  }

  .image-wrapper {
    float: right;
    margin: 0 0 1em 1em; /* Adjust the margins as needed */
    position: relative; /* To make sure the caption is positioned relative to this container */
  }
  
  .image-wrapper img {
    max-width: 100%; /* Ensure the image doesn't overflow its container */
    border-radius: 10%;
    display: block; /* Remove any extra spacing below the image */
    margin: 0 auto; /* Center the image horizontally */
  }

  .image-wrapper .caption {
    text-align: center; /* Center the caption text */
    margin-top: 8px; /* Adjust the top margin as needed */
  }

  .references {
    margin-top: 20px;
  }
  
  .references h2 {
    margin-bottom: 10px;
    margin-left: 30px;
    color: rgb(52, 52, 88);
  }
  .references h3 {
    margin-bottom: 10px;
    margin-left: 30px;
    color: rgb(52, 52, 88);
  }
  
  .references ol {
    margin-left: 80px;
    line-height: 1.4;
  }
  
  .references li {
    margin-bottom: 5px;
  }




  /**************FOOTER*************************/

.footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(255, 255, 255, 0.9)), url(../images/init_portal.jpg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer nav {
    margin-bottom: 10px;
  }
  .nav-links{
    display: flex;
    justify-content: center;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .footer ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  
  .footer ul li a {
    text-decoration: none;
    color: #fffefe;
  }
  
  .footer p {
    margin-top: 5px;
    display: flex;
    color: #ffffff;
  }

  .social-media-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px; /* Add some space between the footer content and the social media icons */
  }
  
  .social-media-icons a i {
    width: 30px;
    height: 30px;
    /* Add additional styles as needed */
  }